
<div class="readme" (click)="readme_change()" (mouseover)="extend_button()" (mouseout)="reset_button()">
  {{isHovered ? readme_button_expanded : readme_button}}
</div>

<div class="wrapper" *ngIf="!readme">
  <div>
    <h1>To-Do List</h1>
    <div id="toast"></div>
    <div id="main">

      <!-- Container for incompleted tasks -->
      <div id="container-list">
        <h2>Tasks To-Do</h2>
        <button (click)="createTask()">Add a task</button>
        <button (click)="moveAllToDone()">Move to Done</button>
        
        <div *ngFor="let task of tasks" class="task-container">
          <input type="checkbox" class="check" [(ngModel)]="task.is_completed" (change)="onCheck(task)">
          <textarea [(ngModel)]="task.task_title" type="text" class="task" id="todo" placeholder="Write a task here!" (blur)="changeOrAdd(task)"></textarea>
        </div>
      </div>

      <!-- Container for completed tasks -->
      <div id="container-done">
        <h2>Done Tasks</h2>
        <button (click)="clearDoneTasks()">Delete all tasks</button>
        <button (click)="moveAllToTasks()">Move To-Do</button>
        
        <div *ngFor="let task of doneTasks" class="task-container">
          <input type="checkbox" class="check" [(ngModel)]="task.is_completed" (change)="onCheck(task)">
          <textarea [(ngModel)]="task.task_title" type="text" class="task" id="done" placeholder="Write a task here!" (blur)="changeOrAdd(task)"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>


   
<div class="readme_container" *ngIf="readme">
  <div class="readme_text">
    <h1>To Do App Project Documentation</h1>

    <div class="section">
      <h2>Project Overview</h2>
      <p>This project is a dynamic To Do App built with Angular for the frontend, Python and Flask for the backend, and a MySQL database. It includes CRUD functionality that allows saving/getting/updating/deleting tasks in the database.</p>
    </div>

    <div class="section">
      <h2>Features</h2>
      <ul>
        <li>Interactive To Do App with smooth navigation.</li>
        <li>Communication with a Flask backend API for data processing.</li>
        <li>GET HTTP method and backend logic for displaying the tasks stored inside the database.</li>
        <li>POST HTTP method and backend logic for saving information inside the database.</li>
        <li>PUT HTTP method and backend logic for updating information inside the database.</li>
        <li>DELETE HTTP method and backend logic for deleting information inside the database.</li>
        <li>Error handling.</li>
        <li>Toast notifications to display success or error messages.</li>
        <li>Hover effects on service elements for an enhanced user experience.</li>
      </ul>
    </div>

    <div class="section">
      <h2>Technologies Used</h2>
      <ul>
        <li><strong>Frontend:</strong> Angular</li>
        <li><strong>Backend:</strong> Python and Flask</li>
        <li><strong>Database:</strong> MySQL</li>
        <li><strong>Styling:</strong> CSS</li>
      </ul>
    </div>
  
    <div class="section">
      <h2>How It Works</h2>
      <h3>Frontend</h3>
      <p>The frontend is responsible for rendering the user interface and handling user interactions:</p>
      <ul>
        <li>When the frontend component is initialized, the function "loadTask" is called, so a GET request is sent to the backend, which will get all the tasks from the database with a SELECT query and return them to the frontend, which will display them on screen.</li>
        <li>The "Create task" button allows creating a new task object, inserting it into the tasks array. When the user's focus moves, a blur event calls the "addTask" function, which sends a POST request to the backend with the task title. Other information will be added to the task thanks to the backend logic, and it will be stored in the database.</li>
        <li>When a task is checked, it is moved to the done tasks array. The "onCheck" function is called, and a PUT request is sent to the backend, which will send an SQL query to modify the task's status (whether completed or not). Then the load function is called to get all tasks, and the done tasks are displayed.</li>
        <li>When the name of a task is modified and its ID already exists, the "changeNameTask" function is called. A PUT request is sent to the backend, which will send a query to the database and modify the name of the task based on its ID.</li>
        <li>The "Move all to done" and "Move all to do" buttons allow checking or unchecking multiple tasks and moving them to the other array. When one of these functions is called, a PUT request with the list of IDs from the array is sent to the backend, which will send a query to the database to change the completion status.</li>
        <li>The "Delete tasks" button allows deleting all tasks from the done tasks array. It sends a DELETE request with the list of IDs to the backend, which will send a delete query to the database to delete all tasks based on their IDs.</li>
        <li>A toast notification is displayed to indicate the success or failure of the operation when a task or more changes its status.</li>
      </ul>
  
      <h3>Backend</h3>
      <p>The Flask backend handles incoming requests and interacts with the database:</p>
      <ul>
        <li>Receives data as a JSON payload via GET, POST, PUT, or DELETE requests.</li>
        <li>Validates and stores the data in a MySQL database using a prepared SQL query.</li>
        <li>Returns a JSON response to the frontend indicating success or failure.</li>
      </ul>
    </div>
  
    <h2>Key Components</h2>
    <ul>
      <li><strong>Frontend:</strong>
        <p>The Angular frontend handles user interactions and displays messages from the backend while communicating through API requests.</p>
      </li>
      <li><strong>Backend:</strong>
        <p>The Flask backend processes user data, queries the database, and gives a response back to the frontend.</p>
      </li>
      <li><strong>Database:</strong>
        <p>The database stores user data, including timestamps to track when tasks were created and updated.</p>
      </li>
    </ul>
  </div>
</div>
    
